# Modeling HUPA0003 using rapid acting insulin and carb_input as exogenous variables

## Get data and visualize it

In [1]:
import pandas  as pd 
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../Data/Preprocessed/HUPA0003P.csv', sep=';')[['time', 'glucose', 'bolus_volume_delivered', 'carb_input']]
data['time'] = pd.to_datetime(data['time'])

In [5]:
data

                    time     glucose  bolus_volume_delivered  carb_input
0    2018-06-13 21:40:00  137.666667                     0.0         0.0
1    2018-06-13 21:45:00  137.000000                     0.0         0.0
2    2018-06-13 21:50:00  136.333333                     0.0         0.0
3    2018-06-13 21:55:00  135.666667                     0.0         0.0
4    2018-06-13 22:00:00  135.000000                     0.0         0.0
...                  ...         ...                     ...         ...
3765 2018-06-26 23:25:00  160.666667                     0.0         0.0
3766 2018-06-26 23:30:00  158.000000                     0.0         0.0
3767 2018-06-26 23:35:00  159.000000                     0.0         0.0
3768 2018-06-26 23:40:00  160.000000                     0.0         0.0
3769 2018-06-26 23:45:00  161.000000                     0.0         0.0

[3770 rows x 4 columns]